body {
    width: 960px;
    padding-left: 20px;
    background-image: url("../images/space-background.jpg"); 
}

.col-lg-6 {
    background:#fbe6ce;
    color: green;
    padding-top: 25px;
    padding-bottom: 100px;
}

#randomNum-text {
    background: #53c987;
    color: purple;
    margin-top: 10px;
    padding-bottom: 80px;
    margin-left: -15px;
    padding-left: 10px;
       
}

.col-md-2 {
    background: aqua;
    margin-bottom: 10px;
    margin-top: 10px;
}


#gameName {
    background: #cb6f35;
    color: white;
    margin-left: -15px;
    margin-right: 70px;
    padding: 10px;

}

#totalScore {
    background: #1fa397;
    color: white;
    padding: 10px;
    margin-left: -15px;
    margin-top: 10px;
}

#yourScore-text {
    background: #1fa397;
    color: white;
    padding-bottom: 50px;
    margin-left: -15px;
    padding-left: 10px;
    
}
